{% extends 'base.html' %}

{% block content %}

      <div class="container">
        <main>
          <div class="row g-5">
                <div class="input-group">
                </div>
            </div>
            <div class="col-md-7 col-lg-8">
              <h4 class="mb-3">Informações de Pagamento</h4>
              <form class="needs-validation" novalidate="" method="post" action="pagar">
                <div class="row g-3">
                  <div class="col-sm-6">
                    <label for="Nome2" class="form-label">Nome:</label>
                    <input type="text" name="Nome2" class="form-control" id="Nome2" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
      
                  <div class="col-sm-6">
                    <label for="Sobrenome2" class="form-label">Sobrenome:</label>
                    <input type="text" name="Sobrenome2" class="form-control" id="Sobrenome2" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="Email2" class="form-label">Email:<span class="text-body-secondary">(Opcional)</span></label>
                    <input type="Email2" class="form-control" name="Email2" id="Email2" placeholder="voce@exemplo.com">
                    <div class="invalid-feedback">
                    </div>
                  </div>
    
              <hr class="my-4">
    
              <h4 class="mb-3">Pagamento</h4>
    
              <div class="row gy-3">
                <div class="col-md-6">
                  <label for="cartaoNome" class="form-label">Nome do Cartão:</label>
                  <input type="text" class="form-control" id="cartaoNome" name="cartaoNome" placeholder="" required="">
                  <small class="text-body-secondary">Nome Completo presente no cartão</small>
                  <div class="invalid-feedback">
                  </div>
                </div>
    
                <div class="col-md-6">
                  <label for="cartaoNumero" class="form-label">Número do Cartão:</label>
                  <input type="number" name="cartaoNumero" class="form-control" id="cartaoNumero" placeholder="" required="">
                  <div class="invalid-feedback">
                  </div>
                </div>
    
                <div class="col-md-3">
                  <label for="CVV" class="form-label">CVV:</label>
                  <input type="number" class="form-control" name="CVV" id="CVV" placeholder="***" required="">
                  <div class="invalid-feedback">
                  </div>
                </div>
              </div>
    
              <hr class="my-4">
    
              <button class="w-100 btn btn-primary btn-lg" type="submit">Continuar para o pagamento.</button>
            </form>
          </div>
        </div>
    </div>

{% endblock %}