{% extends 'base.html' %}

{% block content %}

    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="check" viewBox="0 0 16 16">
        <title>Checkout</title>
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
      </symbol>
    </svg>
    
    <div class="container py-3">
      <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal text-body-emphasis">Preços</h1>
          <p class="fs-5 text-body-secondary"></p>
        </div>
      </header>
    
      <main>
                {% if session['user'] == None %}
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                  <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                      <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Grátis</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">R$0<small class="text-body-secondary fw-light">/BR</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                          <li>5 Consultas Online Gratuitas</li>
                          <li>Agenda Com Pouca Disponibilidade</li>
                          <li>Suporte Apenas Por Email</li>
                          <li>Ajuda Apenas Pela Central Telefonica</li>
                        </ul>
                        <a href="cadastro"><button type="button" class="w-100 btn btn-lg btn-primary">Se Inscreva!</button></a>
                      </div>
                    </div>
                  </div>
                {% else %}
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mg-lg-3 justify-content-center">
                {% endif %}
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Profissional</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">R$15<small class="text-body-secondary fw-light">/BR</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>10 Consultas Online Gratuitas</li>
                  <li>Livre Agenda</li>
                  <li>Suporte Priorizado Para o Email e Celular</li>
                  <li>Ajuda Presencial e Online</li>
                </ul>
                {% if session['user'] == None %}
                <a href="cadastro"><button type="button" class="w-100 btn btn-lg btn-primary">Se inscreva antes de assinar!</button></a>
                {% else %}
                <a href="checkout"><button type="button" class="w-100 btn btn-lg btn-primary">Aprimore Seu Plano!</button></a>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div class="card-header py-3 text-bg-primary border-primary">
                <h4 class="my-0 fw-normal">Empressarial</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">R$29<small class="text-body-secondary fw-light">/BR</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>20 Consultas Online Gratuitas</li>
                  <li>Agenda VIP</li>
                  <li>Suporte Priorizado Para o Email e Celular</li>
                  <li>Ajuda Presencial e Online</li>
                </ul>
                {% if session['user'] == None %}
                <a href="cadastro"><button type="button" class="w-100 btn btn-lg btn-primary">Se inscreva antes de assinar!</button></a>
                {% else %}
                <a href="checkout"><button type="button" class="w-100 btn btn-lg btn-primary">Aprimore seu Plano!</button></a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
    
        <h2 class="display-6 text-center mb-4">Comparar Planos</h2>
    
        <div class="table-responsive">
          <table class="table text-center">
            <thead>
              <tr>
                <th style="width: 34%;"></th>
                <th style="width: 22%;">Grátis</th>
                <th style="width: 22%;">Profissional</th>
                <th style="width: 22%;">Empresarial</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="text-start">Consultas</th>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Livre Agenda</th>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
            </tbody>
    
            <tbody>
              <tr>
                <th scope="row" class="text-start">Permissões</th>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Suporte Por Email</th>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Ajuda Presencial</th>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Ajuda Online e Presencial</th>
                <td></td>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
            </tbody>
          </table>
        </div>

{% endblock %}