<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clinica Colla</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body >
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="index.html" class="nav-link px-2 link-secondary">Home</a></li>
                  <li><a href="sobre.html" class="nav-link px-2 link-body-emphasis">Sobre Nós</a></li>
                  <li><a href="comprar.html" class="nav-link px-2 link-body-emphasis">Como Comprar</a></li>
                </ul>
        
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="search" class="form-control" placeholder="Pesquisa..." aria-label="Search">
                </form>
              </div>
            </div>
          </header>
    <main>
            <div class="container marketing">
              <div class="row">
                <div class="col-lg-4">
                  <h2 class="fw-normal">Conheça nosso plano gratuito</h2>
                  <p>Venha conhecer nosso plano gratuito, onde vc apenas precisa se increver!</p>
                  <p><a class="btn btn-secondary" href="comprar.html">Ver Mais Detalhes »</a></p>
                </div>
                <div class="col-lg-4">
                  <h2 class="fw-normal">Conheça nosso plano custo beneficio</h2>
                  <p>Um plano que cabe no seu bolso e te tras o melhor para você</p>
                  <p><a class="btn btn-secondary" href="comprar.html">Ver Mais Detalhes »</a></p>
                </div>
                <div class="col-lg-4">
                  <h2 class="fw-normal">Conheça nossa plano Empresarial</h2>
                  <p>Um plano voltado para sua empresa, onde se é pago mensalmente sendo o mais barato do mercado</p>
                  <p><a class="btn btn-secondary" href="comprar.html">Ver Mais Detalhes »</a></p>
                </div>
              </div>
          
              <hr class="featurette-divider">
          
              <div class="row featurette">
                <div class="col-md-7">
                  <h2 class="featurette-heading fw-normal lh-1">Clínica Radiante: Transformando Vidas com Cuidado Personalizado e Inovação Avançada.<span class="text-body-secondary"></span></h2><br><br>
                  <p class="lead">Na Clínica Radiante, acreditamos que o cuidado personalizado e a inovação avançada são essenciais para transformar vidas. Nossa equipe dedicada está empenhada em oferecer uma gama abrangente de tratamentos e terapias, desde procedimentos estéticos avançados até terapias regenerativas inovadoras. Com instalações modernas e uma abordagem centrada no paciente, estamos prontos para ajudá-lo a alcançar um brilho radiante, tanto por dentro quanto por fora. Descubra uma nova perspectiva de vitalidade e renovação na Clínica Radiante, onde cada pessoa é tratada com o máximo cuidado e atenção para alcançar uma vida verdadeiramente radiante. Nossa equipe de profissionais apaixonados está pronta para oferecer suporte integral, desde tratamentos revitalizantes a programas de autocuidado holístico. Descubra um novo caminho para o equilíbrio e bem-estar na Clínica Renovação Essencial, onde cada passo é direcionado para fortalecer a sua essência interior.</p>
                </div>
                <div class="col-md-5">
                  <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="src/static/img/doutor-feliz-segurando-uma-prancheta-com-pacientes.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>
                </div>
              </div>
          
              <hr class="featurette-divider">
          
              <div class="row featurette">
                <div class="col-md-7 order-md-2">
                  <h2 class="featurette-heading fw-normal lh-1">Clínica Serenity: Renovando Corpo, Mente e Espírito para uma Vida Plena.<span class="text-body-secondary"></span></h2><br><br>
                  <p class="lead">Na Clínica Serenity, estamos comprometidos em renovar todos os aspectos da sua vida, desde o seu bem-estar físico até o equilíbrio mental e espiritual. Com uma abordagem holística e uma equipe de profissionais especializados, oferecemos uma ampla gama de tratamentos personalizados, desde terapias de relaxamento até programas de condicionamento físico avançados. Descubra um refúgio de serenidade e transformação na Clínica Serenity, onde cada jornada é guiada pelo desejo de alcançar uma vida plena e significativa. De terapias de rejuvenescimento a programas de condicionamento físico personalizados, estamos aqui para ajudá-lo a descobrir o caminho para o bem-estar completo. Junte-se a nós na Clínica Renovar e comece sua jornada em direção a uma vida plena e saudável hoje mesmo. Descubra uma jornada de autocuidado transformadora conosco e experimente os benefícios duradouros do verdadeiro bem-estar integral.</p>
                </div>
                <div class="col-md-5 order-md-1">
                  <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>
                </div>
              </div>

              <hr class="featurette-divider">

              <div class="row featurette">
                <div class="col-md-7">
                  <h2 class="featurette-heading fw-normal lh-1">Essência Viva: O Caminho para o Bem-Estar na Clínica Renovar.<span class="text-body-secondary"></span></h2><br><br>
                  <p class="lead">Na Clínica Renovar, acreditamos que cada indivíduo possui uma essência única que merece ser nutrida e fortalecida. Com uma abordagem centrada no cliente e uma variedade de serviços de bem-estar, estamos empenhados em ajudá-lo a descobrir o caminho para uma vida vibrante e saudável. Nossa equipe especializada está pronta para guiá-lo em uma jornada de transformação pessoal, oferecendo desde terapias revitalizantes até programas abrangentes de autocuidado. Encontre a verdadeira essência da vida na Clínica Renovar, onde cada passo é direcionado para fortalecer sua jornada em direção ao bem-estar pleno. Descubra a serenidade interior e o vigor físico enquanto embarca em uma jornada de harmonia e equilíbrio na Clínica Renovação Integral. Venha nos visitar na Clínica Renovação Vital e permita-nos ajudá-lo a alcançar o equilíbrio e a vitalidade que você merece. Seu bem-estar é a nossa prioridade, e estamos aqui para cuidar de você em todos os aspectos.</p>
                </div>
                <div class="col-md-5">
                  <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>
                </div>
              </div>

    </main>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                  <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Filipe Colla</span>
              </div>
          
              <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
              </ul>
            </footer>
        </div>
  </body>
</html>