{% extends 'base.html' %}

{% block content %}

        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Clínica Renovação Vital: Cuidando de Você Por Dentro e Por Fora</h1>
              <p class="col-md-8 fs-4">Bem-vindo à Clínica Renovação Vital, o seu refúgio para restauração completa do bem-estar.</p>
            </div>
          </div>
          <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>Bem-estar Integral: Descubra os Benefícios da Clínica Renovação Vital</h2>
                <p>Na Clínica Renovação Vital, nossa dedicação ao bem-estar integral é o coração de tudo o que fazemos. Nossa abordagem personalizada e integrativa é projetada para atender a todas as suas necessidades de saúde física, mental e emocional.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2>Equilíbrio Vital: Harmonizando Corpo e Mente na Clínica Renovação Integral</h2>
                <p>Na Clínica Renovação Integral, estamos empenhados em promover o equilíbrio essencial entre corpo e mente para alcançar um bem-estar duradouro.</p>
              </div>
            </div>
          </div>
          <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Harmonia Vital: Encontre o Equilíbrio Perfeito na Clínica Renovação Plena</h1>
              <p class="col-md-8 fs-4">Na Clínica Renovação Plena, buscamos promover a harmonia vital em todos os aspectos da sua vida. Com uma abordagem centrada no paciente, oferecemos uma variedade de terapias integrativas e serviços personalizados projetados para restaurar o equilíbrio físico, emocional e espiritual.</p>
            </div>
          </div>
          <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>Vida Plena: Descubra o Caminho para o Bem-Estar na Clínica Renovar</h2>
                <p>Na Clínica Renovar, acreditamos que uma vida plena é alcançada através de um equilíbrio holístico.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2>Harmonia Interior: Transforme sua Vida na Clínica Renovação Essencial.</h2>
                <p>Na Clínica Renovação Essencial, nosso compromisso é ajudá-lo a descobrir a harmonia interior para uma vida plena e significativa.</p>
              </div>
            </div>
          </div>
          
{% endblock %}