<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clinica Colla</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body >
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="index.html" class="nav-link px-2 link-secondary">Home</a></li>
                  <li><a href="sobre.html" class="nav-link px-2 link-body-emphasis">Sobre Nós</a></li>
                  <li><a href="comprar.html" class="nav-link px-2 link-body-emphasis">Como Comprar</a></li>
                </ul>
        
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="search" class="form-control" placeholder="Pesquisa..." aria-label="Search">
                </form>
              </div>
            </div>
          </header>
    <main>
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Clínica Renovação Vital: Cuidando de Você Por Dentro e Por Fora</h1>
              <p class="col-md-8 fs-4">Bem-vindo à Clínica Renovação Vital, o seu refúgio para restauração completa do bem-estar.</p>
            </div>
          </div>
          <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>Bem-estar Integral: Descubra os Benefícios da Clínica Renovação Vital</h2>
                <p>Na Clínica Renovação Vital, nossa dedicação ao bem-estar integral é o coração de tudo o que fazemos. Nossa abordagem personalizada e integrativa é projetada para atender a todas as suas necessidades de saúde física, mental e emocional.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2>Equilíbrio Vital: Harmonizando Corpo e Mente na Clínica Renovação Integral</h2>
                <p>Na Clínica Renovação Integral, estamos empenhados em promover o equilíbrio essencial entre corpo e mente para alcançar um bem-estar duradouro.</p>
              </div>
            </div>
          </div>
          <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Harmonia Vital: Encontre o Equilíbrio Perfeito na Clínica Renovação Plena</h1>
              <p class="col-md-8 fs-4">Na Clínica Renovação Plena, buscamos promover a harmonia vital em todos os aspectos da sua vida. Com uma abordagem centrada no paciente, oferecemos uma variedade de terapias integrativas e serviços personalizados projetados para restaurar o equilíbrio físico, emocional e espiritual.</p>
            </div>
          </div>
          <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>Vida Plena: Descubra o Caminho para o Bem-Estar na Clínica Renovar</h2>
                <p>Na Clínica Renovar, acreditamos que uma vida plena é alcançada através de um equilíbrio holístico.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2>Harmonia Interior: Transforme sua Vida na Clínica Renovação Essencial.</h2>
                <p>Na Clínica Renovação Essencial, nosso compromisso é ajudá-lo a descobrir a harmonia interior para uma vida plena e significativa.</p>
              </div>
            </div>
          </div>
    </main>
</body>
</html>